// // CodeInfo.scss
// .code-info {
//     background-color: #1e1e1e;
//     color: #ffffff;
//     border-radius: 10px;
//     padding: 1rem;
//     margin-top: 1rem;
//     margin-left: 1rem;
//     // width: 100%;
  
//     h6 {
//       font-weight: bold;
//       margin-bottom: 0.5rem;
//     }


//   }

  // CodeInfo.scss
// .code-info {
//     background-color: #1e1e1e;
//     color: #ffffff;
//     border-radius: 10px;
//     padding: 1rem;
//     margin-top: 1rem;
//     margin-left: 1rem;
    
//     h3 {
//       font-weight: bold;
//       margin-bottom: 0.25rem;
      

//     }
  
//     pre {
//       font-size: 14px;
//     //   font-family: sans-serif;
//       white-space: pre-wrap; // Add this line for text wrapping
//       margin-bottom: 1rem;
//     }
//   }


.code-info {
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  
    h3 {
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
  
    p {
      font-size: 15px;
      font-family: monaco, monospace; // Add this line to use a monospaced font
      white-space: pre-wrap; // Add this line for text wrapping
      margin-bottom: 1rem;
    }
  }
  

  
  
  