
.input-bar {
    position: relative;
    width: 75%;
    margin: 20px auto 20px auto;
  }
  
  .input-area {
    width: 100%;
    height: auto;
    min-height: 20px;
    padding: 10px;
    padding-right: 40px; // Add padding to make room for the send button
    font-size: 16px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #1f2020;
    outline: none;
    transition: border-color 0.3s;
    color: white;
    background-color: #444;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    white-space: pre-wrap;
  
    &:focus {
      border-color:white;
    //    #26947a;
    }
  }
  
  .send-button {
    position: absolute;
    right: 8px;
    bottom: 8px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    outline: none;
  
    &:hover {
      color: #26947a;
    }
  }
  