// .home {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
  
//     .homeContainer {
//       display: flex;
//       flex-grow: 1;
//       background-color: #202124;
//     }
  
//     .custom-scrollbar::-webkit-scrollbar {
//       width: 6px;
//     }
  
//     .custom-scrollbar::-webkit-scrollbar-track {
//       background: transparent;
//     }
  
//     .custom-scrollbar::-webkit-scrollbar-thumb {
//       background-color: rgba(0, 0, 0, 0.5);
//       border-radius: 20px;
//     }
  
//     .custom-scrollbar:hover::-webkit-scrollbar-thumb {
//       background-color: rgba(0, 0, 0, 0.8);
//     }
//   }
  
// .home {
//     display: flex;
//     flex-direction: column;
//     height: 100vh;
//     background-color: #1E1E1E;

  
//     .homeContainer {
//         display: flex;
//         flex-grow: 1;
//         background-color:#1E1E1E;
    
//         width: 100%;
//         position: relative;
//       }
  
//     .custom-scrollbar::-webkit-scrollbar {
//       width: 6px;
//     }
  
//     .custom-scrollbar::-webkit-scrollbar-track {
//       background: transparent;
//     }
  
//     .custom-scrollbar::-webkit-scrollbar-thumb {
//       background-color: rgba(0, 0, 0, 0.5);
//       border-radius: 20px;
//     }
  
//     .custom-scrollbar:hover::-webkit-scrollbar-thumb {
//       background-color: rgba(0, 0, 0, 0.8);
//     }

//     .card-container {
//         max-height: calc(100vh - 150px); // Adjust the value as needed to prevent overflow
//       }

//       @media (max-width: 767px) {
//         .homeContainer .sidebar {
//           display: none;
//         }
//       }


//       .content {
//         flex-grow: 1;
//         display: flex;
//         flex-direction: column;
//         overflow: auto;
//       }
    
//       .code-section {
//         display: flex;
//         margin-top: 1rem;
//         width: 100%;
    
//         > * {
//           flex: 1;
//         }
//       }
//   }
  

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1E1E1E;
  
    .homeContainer {
      display: grid;
      grid-template-columns: 1fr 12fr;
      gap: 1rem;
      height: 100%;
      background-color: #1E1E1E;
    }
  
    .sidebar {
      grid-column: 1;
    }
  
    .layout {
      grid-column: 2;
      padding: 1rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  
    .custom-scrollbar::-webkit-scrollbar {
      width: 6px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 20px;
    }
  
    .custom-scrollbar:hover::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.8);
    }
  
    .card-container {
      max-height: calc(100vh - 150px); // Adjust the value as needed to prevent overflow
    }
  
    @media (max-width: 767px) {
      .homeContainer .sidebar {
        display: none;
      }
    }
  
    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  
    // .code-section {
    //   display: flex;
    //   margin-top: 1rem;
    //   width: 100%;
  
    //   > * {
    //     flex: 1;
    //   }
    // }
    .code-section {
        margin-top: 1rem;
        width: 100%;
        height: calc(100% - 3rem); // Change from "calc(100% - 5rem)" to "calc(100% - 3rem)"
      }
      
      

      @media (max-width: 767px) {
        .code-section {
          grid-template-columns: 1fr; // To show only one column on smaller screens
          gap: 1rem;
        }
      }

      @media (max-width: 767px) {
        .code-section {
          height: auto;
        }
      


    .examples {
        ul {
        list-style-type: none;
        padding-left: 0;
        }
        li {
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        }
        h5 {
        font-weight: bold;
        margin-bottom: 0.5rem;
        }
    }

    .thinking-text {
        // Add any desired styles for the "Thinking" text
        color:white;
      }

      .dot {
        display: inline-block;
        animation-name: dot-animation;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      
        &.dot-1 {
          animation-delay: 0s;
        }
      
        &.dot-2 {
          animation-delay: 0.3s;
        }
      
        &.dot-3 {
          animation-delay: 0.6s;
        }
      } 

      

     @keyframes dot-animation {
        0%,
        80%,
        100% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        }
    
      
  }
}